
  .ab-testimonials-section {
    text-align: center;  
  }

  .ab-testimonials-section-text {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 80px 16px 0 16px;
  }

    .ab-testimonials-section-text p {
      padding-top: 16px;
    }

  .ab-testimonials-section-image {
    background: url('/images/testimonial.jpg') center top no-repeat;
    background-size: cover;
    height: 300px;
  }
