
  .ab-why-section {
    position: relative;
    padding-top: 60px;
    padding-bottom: 80px;
  }


  .ab-why-section-text {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;

  }

    .ab-why-section-text p {
      padding-top: 16px;
      font-size:1.1em;
    }
