
<a name="contact"></a>
<div class="ab-contact-section mdl-typography--text-center">


    <div class="ab-contact-band">
      <div class="ab-contact-band-text">
        <div class="mdl-typography--display-2 mdl-typography--font-thin">Contact Me - David Lock</div>
        <p class="mdl-typography--headline mdl-typography--font-thin">
        I'm available to take your call...
        </p>
        <p>
          <a class="mdl-typography--font-regular ab-alt-link" href="tel:+447815814156">
            Call me on&nbsp;<i class="material-icons">chevron_right</i> 07815 814 156
          </a>
        </p>
        <p class="mdl-typography--headline mdl-typography--font-thin">
        Or send me an email...
        </p>
        <p>
          <a class="mdl-typography--font-regular  ab-alt-link" href="mailto:david@autobrilliance.co.uk">
            e-mail me &nbsp;<i class="material-icons">chevron_right</i> david@autobrilliance.co.uk
          </a>
        </p>
      </div>
    </div>

</div>
