
footer {
  background-image: url(/images/footer-background.png);
  background-size: cover;
}


  .ab-footer {
    background-color: #fafafa;
    position: relative;
  }

    .ab-footer a:hover {
      color: $color-primary-contrast;
    }

  .ab-footer .mdl-logo {

  }
