@charset "utf-8";
@import "normalize";

$color-primary: rgb(255,152,0);
$color-primary-contrast: #f57c00;
$color-primary-dark: #ef6c00;
$color-accent: #448aff;


$section-max-width: 600px;

@import "header";
@import "sections";
@import "social-buttons";
@import "footer";

//
body {
  // font-family: 'Nobile', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  margin: 0;
}
/* Disable ugly boxes around images in IE10 */
a img{
  border: 0px;
}

::-moz-selection {
  background-color: $color-primary;
  color: #fff;
}

::selection {
  background-color: $color-primary;
  color: #fff;
}

.key-font {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4;
}
