---
title: Frequently asked Questions for AutoBrilliance
---
<div class="ab-primary-section mdl-typography--text-center">
  <div class="key-font ab-primary-slogan">Frequently Asked Questions.</div>
  <div class="key-font ab-primary-sub-slogan">At AutoBrilliance, I'm happy to answer any questions you may have.</div>

  <a href="#faq">
    <button class="ab-fab mdl-button mdl-button--colored mdl-js-button mdl-button--fab mdl-js-ripple-effect" data-upgraded=",MaterialButton,MaterialRipple">
      <i class="material-icons">expand_more</i>
    <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></button>
  </a>
</div>
<a name="faq"></a>
<div class="ab-faq-section mdl-typography--text-center">

  <div class="mdl-grid">

    <div class="mdl-cell mdl-cell--12-col">
      <div class="mdl-typography--display-1-color-contrast">
        <i class="fa fa-address-card-o"></i><br/>
        Are you insured?
        <p>
        Yes, David has a comprehensive insurance policy in place to cover public liability, personal accident, moving of your vehicle and damage to goods.
        </p>

      </div>

    </div>
    <div class="mdl-cell mdl-cell--12-col">
      <div class="mdl-typography--display-1-color-contrast">
        <i class="fa fa-car"></i><br/>
        Where do the treatments take place?
        <p>
          All treatments can be carried out at David’s studio or he can visit you, which ever you prefer.  If he comes to you then he will need the use of an outside tap, a source of electricity and shelter from the weather.  If you don’t have a garage or car port, for example, then David will need to work on a driveway but will obviously be governed by the weather conditions.
          </p>


      </div>

    </div>
    <div class="mdl-cell mdl-cell--12-col">
      <div class="mdl-typography--display-1-color-contrast">
        <i class="fa fa-gift"></i><br/>
        What if I want a treatment not listed, or only need specific parts of any one treatment?
    <p>A bespoke package can easily be created and tailored to your specific needs.  Make contact now to discuss your specific requirements and book your free assessment.
</p>

      </div>
    </div>
    <div class="mdl-cell  mdl-cell--12-col">
      <div class="mdl-typography--display-1-color-contrast">
        <i class="fa fa-diamond"></i><br/>
        Do I have to have a new or expensive car to book an appointment?
        <p>
        Certainly not! David welcomes contact from all clients, irrespective of the cost, make or age of your car.  David’s intention is to provide his clients with fantastic service and to apply the most appropriate treatment in order to transform the look of your car, whilst adding value or protecting your investment.
        </p>

      </div>
    </div>

  </div>

  <a href="#contact">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        <i class="material-icons">call</i>
    Questions? Contact me
    </button>
  </a>


</div>



<%= partial "components/contact" %>
