---
title: Auto Brilliance | Car & Motorbike Detailing ( Holmfirth, UK )
---
<div class="ab-primary-section mdl-typography--text-center">
  <div class="key-font ab-primary-slogan">Detailing. Protection. Customer Care.</div>
  <div class="key-font ab-primary-sub-slogan">Welcome to Auto Brilliance, significantly improving the appearance of your car, motorbike, using safe techniques, with proven results & long lasting protection.</div>
  <!-- <div class="key-font ab-primary-offer">
    <a class="mdl-typography--font-regular ab-primary-sub-slogan  ab-alt-link" href="#contact">
      Winter is on it's way! Get in touch about a winter protection...&nbsp;<i class="material-icons">chevron_right</i>
    </a>

  </div> -->

  <a href="#why">
    <button class="ab-fab mdl-button mdl-button--colored mdl-js-button mdl-button--fab mdl-js-ripple-effect" data-upgraded=",MaterialButton,MaterialRipple">
      <i class="material-icons">expand_more</i>
    <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></button>
  </a>
</div>
<a name="why"></a>
<div class="ab-why-section mdl-typography--text-center">
  <div class="ab-why-section-text">

  <div class="mdl-typography--font-light mdl-typography--display-2-color-contrast">Why Choose Auto Brilliance</div>
  <p class="mdl-typography--font-light">
    Committed to unrivaled customer care. Experience of new car &amp; motorbike preparation, paint correction and full restoration of the paintwork on any marque.
  </p>
  <p class="mdl-typography--font-light">
    Based around Holmfirth in Yorkshire, I provide automotive detailing services for individuals, professional and business.
  </p>
  <div class="mdl-grid">

  <div class="mdl-cell mdl-cell--4-col">
    <div class="mdl-typography--display-1-color-contrast">
      <i class="fa fa-car"></i><br/>
      New Car Preparation
    </div>
  </div>
  <div class="mdl-cell mdl-cell--4-col">
    <div class="mdl-typography--display-1-color-contrast">
      <i class="fa fa-motorcycle"></i><br/>
      Motorbike Preparation
    </div>
  </div>
  <div class="mdl-cell mdl-cell--4-col">
    <div class="mdl-typography--display-1-color-contrast">
      <i class="fa fa-search"></i><br/>
     Quality Detailing
    </div>
  </div>
  <div class="mdl-cell mdl-cell--4-col">
    <div class="mdl-typography--display-1-color-contrast">
      <i class="fa fa-adjust"></i><br/>
      Paintwork Correction
    </div>
  </div>
  <div class="mdl-cell mdl-cell--4-col">
    <div class="mdl-typography--display-1-color-contrast">
      <i class="fa fa-diamond"></i><br/>
      Paintwork Restoration
    </div>
  </div>
  <div class="mdl-cell mdl-cell--4-col">
    <div class="mdl-typography--display-1-color-contrast">
      <i class="fa fa-edit"></i><br/>
     Bespoke Work
    </div>
  </div>
  </div>


</div>


<div class="ab-time-section">
  <div class="ab-time-band">
    <div class="ab-time-band-text">
      <div class="mdl-typography--display-2 mdl-typography--font-thin">Spend more time doing what you love</div>
      <p class="mdl-typography--headline mdl-typography--font-thin">
      Let me take the hassle of care away from you. Get in touch for a free assessment and to discuss your needs.
      </p>
      <p>
        <a class="mdl-typography--font-regular  ab-alt-link" href="#contact">
          Contact me now&nbsp;<i class="material-icons">chevron_right</i>
        </a>
      </p>
    </div>
  </div>
</div>

<a name="testimonial"></a>
<div class="ab-testimonials-section">
    <div class="ab-testimonials-section-text">
        <div class="mdl-typography--font-light mdl-typography--display-2-color-contrast">Testimonials</div>
        <p class="mdl-typography--font-light">
            <i class="fa fa-quote-left"></i>
                I can't thank David enough, my car looks fantastic, like new! <br/>I'd planned on selling my car but having the car detailed by David made me fall in love with it again and gave it a new lease of life. I can't recommend David highly enough for his professionalism, passion and quality of service.<i class="fa fa-quote-right"></i>
                <br>
                <a href="http://www.vjw-holistics.co.uk" target="_new" class="ab-link mdl-typography--font-light">Vicky - VJW Holistic Therapies, Lindley, Huddersfield</a>
        </p>
        <p class="mdl-typography--font-light">
            <i class="fa fa-quote-left"></i>
                Simply put, my feedback is "absolutely brilliant".<br/> I felt informed and involved in the process of deciding what was going to be done to our car and David's suggestions were tailored to my needs. I'm looking forward to getting the same done to our new car when it lands.
            <i class="fa fa-quote-right"></i>
            <br>
            <a href="#" target="_new" class="ab-link mdl-typography--font-light">Malcolm - Briskoda Community Forum</a>
        </p>
    </div>
   <div class="ab-testimonials-section-image"></div>
</div>

<div class="ab-pricing-section mdl-typography--text-center">
  <div class="ab-pricing-section-text">
    <div class="mdl-typography--font-light mdl-typography--display-2-color-contrast"> Protection &amp; Quality</div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col  mdl-cell--12-col-tablet">
            <div class="mdl-typography--display-1-color-contrast">
                <i class="fa fa-car"></i><br/>
              Cars from <br/>&pound; 90
            </div>
            <br/>
          <a href="/pricing#cars">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
              <i class="material-icons">info</i>
  More Info
            </button>
          </a>
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet">
            <div class="mdl-typography--display-1-color-contrast">
                <i class="fa fa-motorcycle"></i><br/>
                Motorbikes from <br/>&pound; 50<br/>
              </div>
              <br/>
          <a href="/pricing#motorbikes">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
              <i class="material-icons">info</i>
  More Info
            </button>
          </a>
        </div>
    </div>
  </div>
</div>




<%= partial "components/contact" %>
