---
title: Welcome to AutoBrilliance
---

<div class="welcome">
  <div class="logo">
    <%= image_tag "autobrilliance-logo-car.png" %>
  </div>
  <h1>AutoBrilliance</h1>
  <h4>Automotive Detailing Specalist</h4>
  <p>Work in progress</p>

</div><!-- .welcome -->
