---
title: Seasonal Offers from AutoBrilliance
---
<div class="ab-offers-section mdl-typography--text-center">
  <div class="key-font ab-offers-slogan">Seasonal offers for you.</div>
  <div class="key-font ab-offers-sub-slogan">

</div>
  <a href="#offers">
    <button class="ab-fab mdl-button mdl-button--colored mdl-js-button mdl-button--fab mdl-js-ripple-effect" data-upgraded=",MaterialButton,MaterialRipple">
      <i class="material-icons">expand_more</i>
    <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></button>
  </a>
</div>
<a name="offers"></a>
<div class="ab-offer-section mdl-typography--text-center">

  <div class="mdl-grid">

    <div class="mdl-cell mdl-cell--12-col">
      <div class="mdl-typography--display-2-color-contrast">
        <i class="fa fa-car"></i><br/>
        Is your new car on order?
      </div>
        <p>
            We can prepare your new car to the highest standards to give it the best start in life and to protect your investment.
        </p>
        <p>
            Get in touch to discuss your bespoke new car package and take that new car feeling to the next level.
        </p>
        <p>
            Prices start at £400, but first time customers can enjoy a 10% discount.
        </p>
        <p>
            Prices are based on a medium sized family saloon car, so may vary according to vehicle size.
        </p>
        <p>
          This offer is valid until the end of February 2017.
          Book now to secure your 10% discount.
        </p>
        <a href="#contact">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            <i class="material-icons">call</i>
            Contact me today
          </button>
        </a>
    </div>
    <div class="mdl-cell mdl-cell--12-col">
      <div class="mdl-typography--display-2-color-contrast">
        <i class="fa fa-thermometer-2"></i><br/>
        Winter is upon us.
      </div>
        <p>
          Protect your car from the damaging elements by treating it to a long lasting winter preparation detail.
        </p>
        <p>
            The standard price is £150 and is based on a medium sized family saloon car, so may change depending on the size of your vehicle.
        <p>
          This offer is valid until the end of February 2017.
          Book now to secure your 10% discount.
        </p>
        <a href="#contact">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            <i class="material-icons">call</i>
            Contact me today
          </button>
        </a>
    </div>
  </div>
</div>

<%= partial "components/contact" %>
